:root {
  --background-card: #fff;
  --background-learn: #f8f8f8;
  --background-internal: #f3f4f5;
  --box-shadow: 0 10px 29px rgba(0, 0, 0, 0.2);
  --color-text: #172533;
  --color-text-soft: #626e76;
  --color-accent: #7c47c0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.learn {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-family: "Poppins", sans-serif;
  padding: 100px 0;
}
.card {
  background-color: #ffffff;
  width: 35%;
  height: 90%;
  box-shadow: var(--box-shadow);
  color: var(--color-text);
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}
.identifiants {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 20px auto;
  width: 100%;
}
label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  width: 100%;
}
h1 {
  font-weight: 900;
  font-size: 1.8rem;
  margin: 40px 0 0 0;
  width: 100%;
}
.form {
  border: none;
  background-color: var(--background-internal);
  border-radius: 10px;
  width: 100%;
  padding: 20px 30px;
  margin-top: 20px;
}
input {
  color: var(--color-text-soft);
  font-size: 1rem;
  font-weight: 600;
}
/* #remember {
  transform: scale(1.6);
  margin: 0 20px 0 50px;
  vertical-align: middle;  
} */
.btn-submit {
  margin: 40px 0;
}
.submit {
  border: none;
  color: #fff;
  background-color: var(--color-accent);
  border-radius: 10px;
  height: 60px;
  width: 100%;
}
.submit:hover {
  cursor: pointer;
  border: 2px solid #4a247b;
  font-size: larger;
  font-weight: bolder;
}
#password {
  font-size: 0.6rem;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  border: 0.4px solid rgb(189, 185, 185);
  height: 20px;
  width: 20px;
  border-radius: 5px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
input[type="checkbox"]:checked {
  background-color: #7c47c0;
  background-image: url("https://cdn-icons-png.flaticon.com/512/929/929424.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
